// ======================Reset css ==============>
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

// ================reset ended=================<

// ===================Reccurences===============>
$color1 : #F0A500;
$color2 : #334756;
$color3 : #082032;
$color4 : #000000;
.flex {
    display: flex;
    flex-wrap: wrap;
}
body {
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}

h2 {
    color: $color2;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 25px;
}
// ===================Reccurences ended===============>

nav {
    justify-content: center;
    align-items: center;
    background-color: $color2;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    button {
        border: 0;
        display: block;
        padding: 10px;
        position: absolute;
        height: 50px;
        width: 50px;
        top: 10px;
        left: 20px;
        background-image: url(../img/picto/darkmode.png);
        background-color: transparent;
        background-size: contain;
        text-indent: -9999px;
    }
    .logo {
        height: 50px;
        width: 150px;
    }
    ul {
        margin-left: 50px;
        
        li {
            padding: 15px;
            
            
            a {
                color: White;
                text-decoration: none;
                vertical-align: center;
                &:hover {
                    color: $color1;
                }
            }
            }
                .color {
                position: absolute;
                height: 50px;
                width: 50px;
                top: 10px;
                right: 20px;
                background: none;
                border: none;
                }
    }
} 
header {
    .head {
        background-image: url(../img/images/943281.jpg);
        align-items: center;
        background-position: center center;
        background-size: cover;
        .container {
            background-color: #0820329a;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 30%;
            padding: 0 50px;
            height: 90vh;
            img {
                width: 70%;
                display: block;
                margin: 0 auto;
                margin-bottom: 25px;
            }
            p {
                color: white;
                line-height: 30px;
                font-size: 22px;
                letter-spacing: 2px;
                padding: 25px 0px 25px 100px;

            }
        }
        a {
            display: block;
            position: absolute;
            color: white;
            font-weight: 700;
            letter-spacing: 3px;
            text-decoration: none;
            text-transform: uppercase;
            border-radius: 15px;
            font-size: 20px;
            right: 10%;
            background-color: #08203281;
            padding: 30px;
        }
    }
}
.welcome {
    background-image: url(../img/images/présentationbg1.jpg);
    background-size: cover;
    background-position: center bottom;
    div {
        padding: 50px 0 0;
        h1 {
            font-size: 32px;
            font-weight: 700;
            letter-spacing: 3px;
            text-align: center;
            color: $color2;
            text-transform: uppercase;
            span {
                color: $color1;
            }
        }
        article {
            justify-content: center;
            align-items: center;
            padding: 20px 0 0;
            .wrap {
                width: 40%;
                margin-right: 25px;
                padding: 0 30px;
                
                p {
                    color: $color2;
                    font-size: 400;
                    letter-spacing: 2px;
                    line-height: 20px;
                    padding-right: 120px;
                    
                }

            }
            figure {
                width: 30%;
                margin-left: 25px;
                background-image: url(../img/images/pngwing.com.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height: 400px;
            }
        }
    }
}
.gameplay {
    background-image: url(../img/images/gameplaybg.jpg);
    background-size: cover;
    background-position: top left;
    div {
        padding: 50px 0;
        h2 {
            color: $color2;
            text-align: center;
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 700;
            letter-spacing: 3px;
            span {
                color: $color1;
            }
        }
        .btn {
            display: flex;
            justify-content: center;
            button {
                display: block;
                background-color: $color1;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 2px;
                cursor: pointer;
                border-radius: 15px;
                box-shadow: 0px 10px 37px -6px rgba(25,25,25,0.67);                border: 0;
                padding: 10px 30px;
                margin: 10px 30px;
                transition: all ease 0.5s;
                &:hover {
                    color: white;
                    background-color: $color3;
                    box-shadow: 0px 10px 37px -6px $color1;
                }
            }
        }
        p {
            text-align: center;
            margin: 0 auto;
            font-size: 18px;
        }
        .article1 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .intro {
                display: block;
                width: 70%;
            }
            article {
                display: block;
                width: 30%;
                margin: 0 20px;
                img {
                    height: 100px;
                    display: block;
                    margin: 0 auto;
                }
                
            }
            
            p {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 18px;
                color: $color3;
                padding: 25px 0;
                &:nth-last-of-type(1) {
                    color: $color1;
                    
                }
            }
        }
        .article {
            .intro {
                display: block;
                width: 70%;
            }
            display: none;
            flex-wrap: wrap;
            justify-content: center;
            article {
                display: block;
                width: 30%;
                margin: 0 20px;
                img {
                    height: 100px;
                    display: block;
                    margin: 0 auto;
                }
            }
            p {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 18px;
                color: $color3;
                padding: 25px 0;
                &:nth-last-of-type(1) {
                    color: $color1;
                    
                }
            }
        }
    }
}

.gamestyle {
    color: white;
    background-color: white;
    
    .infinite {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        padding: 25px 10px;
        background-image: url(../img/images/bgGamestyle.jpg);
        padding: 50px 0;

        .wrapper{
            position: relative;
            height: 600px;

            .color {
            display: block;
            position: absolute;
            height: 100px;
            width: 100px;
            background-size: cover;
            cursor: pointer;
            border: none;
            background-color: transparent;
            }
            .basestyle {
                border: none;
                background-color: transparent;
                display: block;
                cursor: pointer;
                width: 600px;
                height: 400px;
                background-image: url(../img/picto/info.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
        }}
        .text {
            width: 45%;
            color: white;
            height: 100%;
            display: none;
            padding: 0;
            h2 {
                font-size: 35px;
                margin-bottom: 50px;
                line-height: 40px;
                color: white;
            }
            p {
                font-size: 18px;
                letter-spacing: 2px;
                line-height: 25px;
                padding-right: 20%;
            }
        }
        .basetext {
            display: block;
        }
        .white {
            background-image: url(../img/picto/blanc.png);
            bottom: 270px;
        }
        .blue {
            background-image: url(../img/picto/bleu.png);
            bottom: 170px;
            left: 110px;

        }
        .black {
            background-image: url(../img/picto/noir.png);
            bottom: 70px;
            left: 250px;

        }
        .red {
            background-image: url(../img/picto/rouge.png);
            bottom: 170px;
            left: 380px;
        }
        .green {
            background-image: url(../img/picto/vert.png);
            bottom: 270px;
            left: 500px;
        }}}

footer {
            background-color: rgb(255, 255, 255);
            padding: 25px 0;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            ul {
                display: flex;
                li {
                    
                    a {
                        display: block;
                        height: 50px;
                        width: 50px;
                        background-size: contain;
                        text-indent: -9000px;
                        margin-left: 25px;
                    }
                    &:nth-child(1) {
                        a {
                            background-image: url(../img/picto/facebook.png);
                        }
                    }
                    &:nth-child(2) {
                        a {
                            background-image: url(../img/picto/twitter.png);
                        }
                    }
                    &:nth-child(3) {
                        a {
                            background-image: url(../img/picto/twitch.png);
                        }
                    }
                    &:nth-child(4) {
                        a {
                            background-image: url(../img/picto/youtube.png);
                        }
                    }
                }
                

            }
            .form {
                width: 50%;
                h2 {
                    text-align: center;
                    color: $color1;
                    font-size: 18px;
                    letter-spacing: 2px;
                }
                .form-style {
                    margin: 10px auto;
                    width: 400px;
                    padding: 20px 12px 10px 20px;
                    td {
                        padding: 0;
                        display: block;
                        list-style: none;
                        margin: 10px 0 0 0;

                        label {
                            margin: 0 0 3px 0;
                            padding: 0px;
                            display: block;
                            font-weight: 700;
                            color: $color1;
                            .required {
                                color: $color3;
                            }
                        }

                        input[type=submit], input[type=reset] {
                            background-color: $color2;
                            padding: 5px 10px;
                            border: none;
                            color: white;
                            box-shadow: none;
                            &:hover {
                                background-color: $color3;
                                color: $color1;
                            }
                        }

                        .field-textarea {
                            height: 50px;
                        }

                        input[type=text], input[type=email], textarea{
                        border:1px solid #BEBEBE;
                        padding: 7px;
                        margin:0px;
                        }
                        .long {
                            width: 100%;
                        }
                        .error {
                            color: $color1;
                        }
                    }
                }

            }
}

.dark-mode {
    
    nav {
        background-color: $color3;
    }
    header {
        .head {
            background-image: url(../img/images/cropped.jpg);
            .container {
                background-color: #f0a40075;
                color: $color3;
            }
            a {
                background-color: #f0a4009a;
            }
        }
    }
}

@media screen and (max-width: 1250px){

    header .head .container p {
        padding: 25px 0px 25px 10px;
        font-size: 16px;
    }
    .welcome div h1 {
        font-size: 22px;
    }
    header .head a {
        letter-spacing: 2px;
        font-size: 14px;
        padding: 15px;
    }
    header .head .container img {
        margin-bottom: 5px;
        width: 50%;
    }
    .gameplay div {
        padding: 25px 0;
    }
    .gameplay div h2 {
        font-size: 22px;
    }
    .gamestyle .infinite .wrapper .basestyle {
        width: 350px;
        height: 350px;
    }
    .gamestyle .infinite .wrapper .color {
        width: 50px;
        height: 50px;
    }
    .gamestyle .infinite .white {
        bottom: 280px;
        left: 25px;
    }
    .gamestyle .infinite .blue {
        bottom: 190px;
        left: 90px;
    }
    .gamestyle .infinite .black {
        bottom: 100px;
        left: 150px;
    }
    .gamestyle .infinite .red {
        bottom: 190px;
        left: 220px;
    }
    .gamestyle .infinite .green {
        bottom: 280px;
        left: 280px;
    }
    .gameplay div .article1 .intro {
        width: 100%;
        padding: 0 50px;
    }
    .gameplay div .article .intro {
        width: 100%;
        padding: 0 50px;
    }
    .gameplay div .article1 article {
        width: 25%;
    }
    .gameplay div .article article {
        width: 25%;
    }
    .gameplay div .article article img {
        height: 60px;
    }
    .gameplay div .article1 article img {
        height: 60px;
    }
    .gameplay div .article p {
        font-size: 14px;
    }
    .gameplay div .article1 p {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    .welcome div article .wrap p {
        padding-right: 0;
    }
    .gamestyle .infinite {
        padding: 20px 0;
    }
    .welcome div article figure {
        width: 45%;
    }
    .welcome div article .wrap p {
        font-size: 14px;
        line-height: 15px;
    }
    .welcome div article {
        padding: 10px 0;
    }
}

@media screen and (max-width: 768px) {

    header .head .container {
        width: 100%;
        position: relative;
    }
    header .head a {
        bottom: 0;
        right: 35%;
    }
    
    header .head .container img {
        width: 30%;
    }
    header .head .container p {
        padding: 10px 0;
        font-size: 12px;
    }
    .welcome div h1 {
        font-size: 16px;
    }
    h2 , .gameplay div h2, .gamestyle .infinite .text h2 {
        font-size: 14px;
    }
    .welcome div article .wrap {
        padding: 0;
    }
    .welcome div article .wrap p, .gameplay div .article1 .intro, .gameplay div .article .intro, .gameplay div .article1 p, .gameplay div .article p,.gamestyle .infinite .text p {
        font-size: 12px;
    }
    .gamestyle .infinite {
        background-position: center center;
    }
    .gamestyle .infinite .wrapper .basestyle {
        margin-top: 50px;
        height: 290px;
    }
    footer {
        display: block;
        ul {
            justify-content: center;
        }
        .form {
            margin: 0 auto;
            margin-top: 25px;
            h2 {
                margin: 0;
            }
        }
    }
}
@media screen and (max-width: 675px) {
    .welcome div article figure {
        display: none;
    }
    .welcome div article .wrap {
        width: 70%;
    }
    .welcome div h1 {
        margin-bottom: 25px;
    }
    .gamestyle .infinite {
        display: block;
    }
    .gamestyle .infinite .wrapper .basestyle {
        margin: 0 auto;
        width: 100%;
    }
    .gamestyle .infinite .wrapper .color {
        position: initial;
    }
    .gamestyle .infinite .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 350px;
    }
    .gamestyle .infinite .basetext, .gamestyle .infinite .text {
        width: 100%;
        text-align: center;
    }
    .gamestyle .infinite .text p {
        padding: 0 20px;
    }
    .gamestyle .infinite .text h2 {
        margin-bottom: 10px;
    }
    footer .form {
        width: 100%;
    }
    .gameplay div .btn button {
        width: 35%;
    }
    .gameplay div .btn {
        flex-wrap: wrap;
    }
    header .head a {
        right: 10px;
        bottom: -10px;
    }
    nav .logo {
        display: none;
    }
    footer .form .form-style {
        width: 90%;
    }
}
@media screen and (max-width: 425px) {
    .gameplay div .article1 article {
        width: 40%;
    }
    .gameplay div .article article {
        width: 40%;
    }
    .gameplay div .btn button {
        padding: 10px;
    }
    header .head .container {
        padding: 0 15px;
    }
}